/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.active-list-item {
  color: #3F51B5 !important;
}

.app-sidenav {
  min-width: 200px;
  max-width: 100%;
}

.app-content {
  padding: 5%;
}
